@import "https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i|Open+Sans:400,700";
body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden; }

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out; }

.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out; }

p {
  font-family: "Alegreya", Garamond, serif;
  font-size: 1.15em; }
  p a {
    color: #8cc63e;
    transition: all 0.25s ease-in-out; }
    p a:hover, p a:focus, p a:active {
      color: #a3d265; }

h1, h2 {
  font-family: "Alegreya", Garamond, serif;
  font-weight: 300; }

h4 {
  font-size: 0.80em; }

h3, h4, h5, h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase; }

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

:focus {
  outline: #a3d265 auto 3px; }

.map-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

#map {
  height: 100vh;
  width: 100%; }

.leaflet-marker-icon.inactive {
  opacity: 0.7; }

#popup {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30vw;
  z-index: 9999;
  background-color: rgba(250, 250, 250, 0.85);
  padding: 10px;
  transition: all 0.25s ease-in-out;
  -webkit-box-shadow: -2px 5px 11px 0px rgba(110, 110, 110, 0.62);
  -moz-box-shadow: -2px 5px 11px 0px rgba(110, 110, 110, 0.62);
  box-shadow: -2px 5px 11px 0px rgba(110, 110, 110, 0.62); }
  @media (max-width: 991px) {
    #popup {
      background-color: rgba(250, 250, 250, 0.95);
      right: 20px;
      width: auto; } }

#popup-template {
  position: relative;
  height: 73vh;
  padding: 15px;
  /*
  	@include screen-ltmd {
  		height: 90vh;	
  	}
  */ }

#address {
  letter-spacing: 0.4px;
  margin-bottom: 0px;
  display: inline;
  top: 2px;
  position: relative;
  font-size: 1em; }

.popup-inner {
  display: flex;
  flex-direction: column;
  height: 100%; }

#title-container {
  flex: 0 0 auto; }

#title {
  width: 85%;
  margin-top: 10px;
  line-height: 1.1; }

#icon, #icon-tour {
  height: 20px;
  margin-right: 10px; }

.caption-wrapper {
  font-style: italic;
  margin-top: 5px; }

.caption-wrapper, .description-wrapper {
  width: 95%; }

#img {
  width: 100%;
  height: auto;
  max-height: 500px;
  margin-bottom: 10px; }

/*
.img-wrapper {
	height: 23vh;
	overflow: hidden;

}
*/
.description-container {
  position: relative;
  flex: 1 1 auto;
  overflow-y: auto;
  margin: 0 -25px -25px;
  padding: 0 25px 15px; }

.close {
  position: absolute;
  right: -20px;
  top: -21px;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 0px 2px 5px 1px #cccccc;
  -moz-box-shadow: 0px 2px 5px 1px #cccccc;
  box-shadow: 0px 2px 5px 1px #cccccc;
  text-align: center; }
  .close img {
    width: 12px;
    height: 12px; }
    @media (max-width: 991px) {
      .close img {
        position: relative;
        bottom: 1px; } }

#tour-pagination {
  position: absolute;
  bottom: -70px;
  width: 30vw;
  margin-left: -10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 5px 1px #cccccc;
  -moz-box-shadow: 0px 2px 5px 1px #cccccc;
  box-shadow: 0px 2px 5px 1px #cccccc;
  display: table;
  white-space: nowrap; }
  @media (max-width: 991px) {
    #tour-pagination {
      width: 100%; } }
  #tour-pagination button {
    width: 50%;
    text-transform: uppercase;
    padding: 20px;
    background-color: #ffffff;
    border: none;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.85em;
    font-weight: 700;
    color: #a3d265;
    transition: all 0.25s ease-in-out; }
    #tour-pagination button:first-of-type {
      text-align: left; }
    #tour-pagination button:last-of-type {
      text-align: right; }
    #tour-pagination button:hover, #tour-pagination button:active, #tour-pagination button:focus {
      background-color: #a3d265;
      color: #ffffff;
      outline: #a3d265; }

.leaflet-right .leaflet-control {
  margin-right: 20px;
  margin-bottom: 0px; }
  @media (max-width: 1199px) {
    .leaflet-right .leaflet-control {
      margin-bottom: 15px; } }

.leaflet-bottom {
  width: 100%; }

.leaflet-control {
  border-radius: 0px; }

.leaflet-control-layers {
  display: none; }

.leaflet-touch .leaflet-bar {
  border: none; }
  .leaflet-touch .leaflet-bar a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: none; }

.leaflet-bar {
  box-shadow: none; }
  .leaflet-bar a {
    color: #7b7b7b;
    border: none;
    transition: all 0.25s ease-in-out;
    width: 40px;
    height: 40px;
    line-height: 40px; }
    .leaflet-bar a:hover {
      border: none;
      color: #1b75bb;
      width: 40px;
      height: 40px;
      line-height: 40px; }
    .leaflet-bar a:first-child {
      border-radius: 0px;
      margin-bottom: 5px; }
    .leaflet-bar a:last-child {
      border-radius: 0px; }

.leaflet-control-zoom {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }
  @media (max-width: 1199px) {
    .leaflet-control-zoom {
      display: none; } }

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  font-size: 25px;
  box-shadow: -2px 3px 3px 0px rgba(112, 112, 112, 0.54); }

.category-filter {
  background-color: #fff;
  background-size: 25px auto;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  height: 40px;
  width: 40px;
  box-shadow: -2px 3px 3px 0px rgba(112, 112, 112, 0.54);
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Alegreya", Garamond, serif;
  text-align: right;
  color: #7b7b7b; }

.category-filter.active {
  opacity: 1.0; }

.btn-content {
  display: none; }

.categories-wrapper {
  transition: all 0.25s ease-in-out; }
  @media (max-width: 991px) {
    .categories-wrapper {
      display: none; } }
  .categories-wrapper button {
    display: block; }
  .categories-wrapper:hover {
    transition: all 0.25s ease-in-out; }
    .categories-wrapper:hover .btn-content {
      display: block;
      position: relative;
      right: 35px;
      font-size: 1.3em; }
    .categories-wrapper:hover .category-filter {
      width: 260px;
      background-position: 226px; }
      @media (min-width: 992px) and (max-width: 1199px) {
        .categories-wrapper:hover .category-filter {
          width: 270px;
          background-position: 236px; } }

@media (min-width: 992px) {
  .categories-wrapper-mobile {
    display: none; } }
.categories-wrapper-mobile .filter-* {
  color: #a3d265;
  background-image: none; }
.categories-wrapper-mobile .category-filter {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  height: initial;
  text-transform: uppercase;
  letter-spacing: 0.5px; }

.caret {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 11px solid #a3d265;
  border-top: none; }

.bootstrap-select.btn-group .dropdown-toggle .caret {
  right: 20px;
  margin-top: -4px; }

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
  border-bottom: 11px solid #a3d265; }

.titles-wrapper {
  background-color: #ffffff;
  position: absolute;
  right: 26px;
  display: none; }

.filter-arts {
  background-image: url("../imgs/icons/icon-arts-inactive.png"); }

.filter-arts.active {
  color: #1b75bb;
  background-image: url("../imgs/icons/icon-arts.png"); }

.filter-civilrights {
  background-image: url("../imgs/icons/icon-civilrights-inactive.png");
  background-size: auto 25px; }

.filter-civilrights.active {
  color: #594a41;
  background-image: url("../imgs/icons/icon-civilrights.png");
  background-size: auto 25px; }

.filter-development {
  background-image: url("../imgs/icons/icon-development-inactive.png"); }

.filter-development.active {
  color: #fbaf3f;
  background-image: url("../imgs/icons/icon-development.png"); }

.filter-infrastructure {
  background-image: url("../imgs/icons/icon-infrastructure-inactive.png"); }

.filter-infrastructure.active {
  color: #d91b5b;
  background-image: url("../imgs/icons/icon-infrastructure.png"); }

.logo-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out; }
  .logo-btn img {
    width: 275px; }
    @media (max-width: 767px) {
      .logo-btn img {
        width: 175px; } }
  .logo-btn:hover img {
    opacity: 0.7; }

.timeline-container {
  width: calc(100vw - 40px); }
  @media (max-width: 991px) {
    .timeline-container {
      display: none; } }

.timeline-container-mobile {
  width: calc(100vw - 30px); }
  @media (min-width: 992px) {
    .timeline-container-mobile {
      display: none; } }
  .timeline-container-mobile select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: calc(100vw - 30px);
    height: 45px;
    border: 0px;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 15px;
    color: #a3d265;
    letter-spacing: 1px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .timeline-container-mobile .leaflet-control {
    margin-bottom: 10px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .timeline-container-mobile .leaflet-control {
    margin-bottom: 5px; } }

.bootstrap-select {
  width: calc(100vw - 30px); }
  .bootstrap-select button {
    border: 0px;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 700;
    padding-left: 15px;
    color: #a3d265; }
  .bootstrap-select .dropdown-toggle {
    width: calc(100vw - 30px);
    padding: 12px 25px;
    background-color: #ffffff;
    color: #a3d265; }

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: initial; }

.dropdown-menu > li > a {
  color: #a3d265;
  font-weight: 600;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  padding: 7px 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px; }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:active, .dropdown-menu > li > a:focus {
    color: #a3d265; }

.bootstrap-select.btn-group .dropdown-menu {
  border: none;
  border-radius: 0px; }

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
  color: #a3d265;
  background-color: #ffffff;
  border: none; }

.bootstrap-select .dropdown-toggle:focus {
  outline: 3px auto #a3d265 !important; }

.timeline-wrapper {
  height: 50px;
  border-radius: 0px;
  display: flex;
  padding: 10px;
  align-items: flex-end;
  background-color: #ffffff;
  box-shadow: -2px 3px 3px 0px rgba(112, 112, 112, 0.54);
  margin-bottom: 10px !important; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .timeline-wrapper {
      height: 70px;
      align-items: initial; } }
  .timeline-wrapper button {
    border: none;
    background-color: #ffffff;
    border-top: 6px solid #b7b7b7;
    margin: 0px 4px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #b7b7b7;
    font-size: 1.1em;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    padding: 5px 0px 0px;
    cursor: pointer;
    width: 13%;
    transition: all 0.25s ease-in-out; }
    .timeline-wrapper button:hover {
      color: #8cc63e;
      border-color: #8cc63e; }
  .timeline-wrapper #era-all {
    margin-right: 15px; }
  .timeline-wrapper button[data-era-width="2"] {
    width: 20%; }
  .timeline-wrapper button[data-era-width="1"] {
    width: 40%; }
  .timeline-wrapper .active {
    color: #8cc63e;
    border-color: #8cc63e; }

#welcome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  flex-direction: row; }
  @media (max-width: 1199px) {
    #welcome {
      display: initial; } }
  #welcome article {
    background-color: #cbe5a8;
    background-image: url("../imgs/content/modal-background@2x.jpg");
    background-size: 100% auto;
    background-position: bottom;
    width: 67%;
    padding: 50px; }
    @media (max-width: 1199px) {
      #welcome article {
        width: 100%;
        height: 100vh;
        padding: 50px 0px;
        background-size: cover; } }
    @media (max-width: 767px) {
      #welcome article {
        height: auto; } }
    #welcome article img {
      width: 275px; }
      @media (max-width: 1199px) {
        #welcome article img {
          display: block;
          margin: 0px auto 30px; } }
    #welcome article p {
      font-size: 1.17em;
      width: 60%;
      line-height: 1.8; }
      @media (min-width: 992px) and (max-width: 1199px) {
        #welcome article p {
          width: 75%; } }
      @media (max-width: 1199px) {
        #welcome article p {
          margin: 0 auto;
          width: 80%; } }
      @media (min-width: 768px) and (max-width: 991px) {
        #welcome article p {
          font-size: 1.25em; } }
      @media (max-width: 767px) {
        #welcome article p {
          font-size: 1.4em; } }
      #welcome article p:last-of-type {
        margin-bottom: 30px; }
      #welcome article p > a {
        color: #000000;
        text-decoration: none;
        border-bottom: 1px dotted black;
        transition: all 0.25s ease-in-out; }
        #welcome article p > a:hover, #welcome article p > a:active, #welcome article p > a:focus, #welcome article p > a:visited {
          color: #262626;
          text-decoration: none;
          border-bottom: 1px dotted #262626; }
  #welcome aside {
    width: 33%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 100vh; }
    @media (max-width: 1199px) {
      #welcome aside {
        display: none; } }
    #welcome aside button {
      margin: 15px 15px 0px 15px;
      height: 25%;
      color: #ffffff;
      border: none;
      padding: 20px;
      transition: all 0.25s ease-in-out;
      flex: 1; }
      #welcome aside button:last-of-type {
        margin: 15px; }
      @media (min-width: 992px) and (max-width: 1199px) {
        #welcome aside button {
          flex-shrink: 0;
          flex-basis: auto; } }
      #welcome aside button .flex-fix {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        transition: all 0.25s ease-in-out; }
      #welcome aside button h4 {
        font-size: 1.1em;
        margin: 0 0 5px;
        text-align: left;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
      #welcome aside button h2 {
        font-size: 2.2em;
        line-height: 1.1;
        margin: 0px;
        width: 80%;
        text-align: left;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
        @media (min-width: 992px) and (max-width: 1199px) {
          #welcome aside button h2 {
            width: 95%; } }
      #welcome aside button:nth-of-type(1) {
        background: linear-gradient(rgba(140, 198, 62, 0.55), rgba(140, 198, 62, 0.55)), url("../imgs/content/belmont_theater.PNG");
        background-size: 100% auto;
        background-position: center; }
      #welcome aside button:nth-of-type(2) {
        background: linear-gradient(rgba(89, 74, 65, 0.55), rgba(89, 74, 65, 0.55)), url("../imgs/content/kingontheave.jpg");
        background-size: 100% auto;
        background-position: center; }
      #welcome aside button:nth-of-type(3) {
        background: linear-gradient(rgba(217, 27, 91, 0.55), rgba(217, 27, 91, 0.55)), url("../imgs/content/Infrastructure image.jpg");
        background-size: 100% auto;
        background-position: center; }
      #welcome aside button:nth-of-type(4) {
        background: linear-gradient(rgba(251, 175, 63, 0.55), rgba(251, 175, 63, 0.55)), url("../imgs/content/hawthorne hall 1908.jpg");
        background-size: 100% auto;
        background-position: center; }
      #welcome aside button svg {
        float: right;
        height: 36px;
        width: 40px; }
        #welcome aside button svg path {
          fill: #ffffff; }
      #welcome aside button:hover {
        background-size: 110% auto;
        cursor: pointer;
        transition: all 0.25s ease-in-out; }

#explore-btn {
  margin-right: 10px; }

#explore-btn, #tour-btn {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #a3d265;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  transition: all 0.25s ease-in-out;
  padding: 18px 30px;
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase; }
  #explore-btn:link, #tour-btn:link {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #a3d265; }
  #explore-btn:hover, #tour-btn:hover {
    background-color: #a3d265;
    border-color: #a3d265;
    color: #ffffff;
    fill: #ffffff;
    text-decoration: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.35); }
  #explore-btn:hover svg, #tour-btn:hover svg {
    fill: #ffffff; }
  #explore-btn:active, #tour-btn:active {
    background-color: #a3d265;
    border-color: #a3d265;
    color: #ffffff;
    box-shadow: none; }
  #explore-btn:active svg, #tour-btn:active svg {
    fill: #ffffff; }
  #explore-btn:focus, #explore-btn:active:focus, #tour-btn:focus, #tour-btn:active:focus {
    background-color: #a3d265;
    border-color: #a3d265;
    color: #ffffff;
    outline: 5px auto #a3d265; }
  #explore-btn:focus, #explore-btn:active:focus svg, #tour-btn:focus, #tour-btn:active:focus svg {
    fill: #ffffff; }
  #explore-btn:visited, #tour-btn:visited {
    background-color: #a3d265;
    border-color: #ffffff; }
  #explore-btn svg, #tour-btn svg {
    position: relative;
    top: 1px;
    left: 4px;
    fill: #a3d265; }
  @media (max-width: 1199px) {
    #explore-btn, #tour-btn {
      display: block;
      width: 80%;
      margin: 0 auto 20px; } }

#preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(203, 229, 168, 0.85);
  z-index: 99999;
  opacity: 0;
  transition: 0.5s all; }
  #preloader.in {
    opacity: 1; }
  #preloader:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -36px;
    margin-left: -36px;
    width: 72px;
    height: 72px;
    background: url(../imgs/loading.svg) no-repeat;
    background-size: 100%; }

/*# sourceMappingURL=main.css.map */
