
.leaflet-right .leaflet-control {
	margin-right: 20px;
	margin-bottom: 0px;
}

.leaflet-control {
	border-radius: 0px;
}

.leaflet-control-layers {
	display: none;
}

.leaflet-bar {
	box-shadow: none;

	a {
	color: #7b7b7b;
	border: none;
	transition: $transition;
		&:hover {
			border: none;
			color: $blue;
		}
		&:first-child {
		border-radius: 0px;
		margin-bottom: 5px;
		}
		&:last-child {
		border-radius: 0px;
		}
	}

}

.leaflet-control-zoom {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
	font-size: 22px;
	box-shadow: -2px 3px 3px 0px rgba(112,112,112,0.54);
}

.category-filter {
	background-color: #fff;
	background-size: 16px 16px;
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	height: 26px;
	width: 26px;
	box-shadow: -2px 3px 3px 0px rgba(112,112,112,0.54);
	//opacity: 0.7;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: $alegreya;
	text-align: right;
	color: $grey;
}

.category-filter.active {
	opacity: 1.0;
}

.btn-content {
	display: none;
}

.categories-wrapper {
	button {
		display: block;
	}

	&:hover {
		.btn-content {
			display: initial;
			position: relative;
			right: 30px;
		}
		.category-filter {
			width: 200px;
			background-position: 177px;
		}

	}
}

.titles-wrapper {
	background-color: #ffffff;
	position: absolute;
	right: 26px;
	display: none;
}

.filter-arts {
	@include arts-icon($grey);
}

.filter-arts.active {
	color: $blue;
	@include arts-icon($blue);
}

.filter-civilrights {
	@include civilrights-icon($grey);
}

.filter-civilrights.active {
	color: $brown;
	@include civilrights-icon($brown);
}


.filter-development {
	@include development-icon($grey);
}

.filter-development.active {
	color: $orange;
	@include development-icon($orange);
}

.filter-infrastructure {
	@include infrastructure-icon($grey);
}

.filter-infrastructure.active {
	color: $pink;
	@include infrastructure-icon($pink);
}


.logo-btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: $transition;
	img {
		width: 130px;
	}
	&:hover {
		img {
			opacity: 0.7;
		}
	}
}

.timeline-wrapper {
	height: 65px;
	border-radius: 0px;
	display: flex;
	padding: 5px;
	align-items: flex-end;
	background-color: #ffffff;
	box-shadow: -2px 3px 3px 0px rgba(112,112,112,0.54);
	margin-bottom: 10px !important;
	button {
		border: none;
		background-color: #ffffff;
		border-top: 6px solid #b7b7b7;
		margin: 0px 4px;
		font-family: $open-sans;
		color: #b7b7b7;
		font-weight: 700;
		text-transform: uppercase;
		padding-top: 5px;
		cursor: pointer;
		width: 73px;
		transition: $transition;
		&:hover {
			color: $green;
			border-color: $green;
		}
	}
	.active {
		color: $green;
		border-color: $green;
	}
}

