
.leaflet-right .leaflet-control {
	margin-right: 20px;
	margin-bottom: 0px;
	@include screen-ltlg {
		margin-bottom: 15px;
	}
}

.leaflet-bottom {
	width: 100%;
}

.leaflet-control {
	border-radius: 0px;
}

.leaflet-control-layers {
	display: none;
}



.leaflet-touch .leaflet-bar {
	border: none;
	a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: none;
	}
}


.leaflet-bar {
	box-shadow: none;

	a {
	color: #7b7b7b;
	border: none;
	transition: $transition;
	width: 40px;
	height: 40px;
	line-height: 40px;
		&:hover {
			border: none;
			color: $blue;
			width: 40px;
			height: 40px;
			line-height: 40px;
		}
		&:first-child {
		border-radius: 0px;
		margin-bottom: 5px;
		}
		&:last-child {
		border-radius: 0px;
		}
	}

}

.leaflet-control-zoom {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	@include screen-ltlg {
		display: none;
	}

}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
	font-size: 25px;
	box-shadow: -2px 3px 3px 0px rgba(112,112,112,0.54);
}

.category-filter {
	background-color: #fff;
	background-size: 25px auto;
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	height: 40px;
	width: 40px;
	box-shadow: -2px 3px 3px 0px rgba(112,112,112,0.54);
	//opacity: 0.7;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: $alegreya;
	text-align: right;
	color: $grey;
}

.category-filter.active {
	opacity: 1.0;
}

.btn-content {
	display: none;
}

.categories-wrapper {
	@include screen-ltmd {
		display: none;
	}
	button {
		display: block;
	}
	transition: $transition; 
	&:hover {
		transition: $transition;
		.btn-content {
			display: block;
			position: relative;
			right: 35px;
			font-size: 1.3em;
		}
		.category-filter {
			width: 260px;
			background-position: 226px;
			@include screen-md {
				width: 270px;
				background-position: 236px;
			}
		}

	}
}

.categories-wrapper-mobile {
	@include screen-gtsm {
		display: none;
	}
	.filter-* {
		color: $medium-green;
		background-image: none;
	}
	.category-filter {
		font-family: $open-sans;
		font-weight: 600;
		height: initial;
		text-transform: uppercase;
		letter-spacing: 0.5px;
	}
}


.caret {
	border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 11px solid $medium-green;
    border-top: none;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
	right: 20px;
	margin-top: -4px;
}

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
	border-bottom: 11px solid $medium-green;
}

.titles-wrapper {
	background-color: #ffffff;
	position: absolute;
	right: 26px;
	display: none;
}

.filter-arts {
	@include arts-icon-grey();
}

.filter-arts.active {
	color: $blue;
	@include arts-icon();
}

.filter-civilrights {
	@include civilrights-icon-grey();
	background-size: auto 25px;
}

.filter-civilrights.active {
	color: $brown;
	@include civilrights-icon();
	background-size: auto 25px;
}


.filter-development {
	@include development-icon-grey();
}

.filter-development.active {
	color: $orange;
	@include development-icon();
}

.filter-infrastructure {
	@include infrastructure-icon-grey();
}

.filter-infrastructure.active {
	color: $pink;
	@include infrastructure-icon();
}


.logo-btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: $transition;
	img {
		//filter: drop-shadow(1px 4px 2px rgba(90, 90, 90, 0.9));
		width: 275px;
		@include screen-xs {
			width: 175px;
		}
	}
	&:hover {
		img {
			opacity: 0.7;
		}
	}
}

.timeline-container {
	width: calc(100vw - 40px);
		@include screen-ltmd {
		display: none;
	}
}

.timeline-container-mobile {
	@include screen-gtsm {
		display: none;
	}
	width: calc(100vw - 30px);
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: calc(100vw - 30px);
	    height: 45px;
	    border: 0px;
	    border-radius: 0px;
	    text-transform: uppercase;
	    font-size: 1.1em;
	    font-weight: 500; 
	    padding-left: 15px;
	    color: $medium-green;
	    letter-spacing: 1px;
    }
}

.timeline-container-mobile .leaflet-control {
	@include screen-md {
		margin-bottom: 10px;
	}
	@include screen-sm {
		margin-bottom: 5px;
	}
}

.bootstrap-select {
	width: calc(100vw - 30px);
	button {
		border: 0px;
		border-radius: 0px;
		text-transform: uppercase;
		font-size: 1.1em;
		font-weight: 700; 
		padding-left: 15px;
	    color: $medium-green;
	}
	.dropdown-toggle {
		width: calc(100vw - 30px);
		padding: 12px 25px;
		background-color: #ffffff;
		color: $medium-green;
	}
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: initial;
}

.dropdown-menu>li>a {
	color: $medium-green;
	font-weight: 600;
	font-family: $open-sans;
	padding: 7px 20px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	&:hover, &:active, &:focus {
		color: $medium-green;
	}
}

.bootstrap-select.btn-group .dropdown-menu {
	border: none;
	border-radius: 0px;
}

.btn-default:active:hover, .btn-default.active:hover, .open>.dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open>.dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open>.dropdown-toggle.btn-default.focus {
	color: $medium-green;
	background-color: #ffffff;
	border: none;
}

.bootstrap-select .dropdown-toggle:focus {
	outline: 3px auto $medium-green !important;
}

.timeline-wrapper {
	height: 50px;
	//width: 95vw;
	//clear: initial !important;
	border-radius: 0px;
	display: flex;
	padding: 10px;
	align-items: flex-end;
	background-color: #ffffff;
	box-shadow: -2px 3px 3px 0px rgba(112,112,112,0.54);
	margin-bottom: 10px !important;
	@include screen-md {
		height: 70px;
		align-items: initial;
	}
	button {
		border: none;
		background-color: #ffffff;
		border-top: 6px solid #b7b7b7;
		margin: 0px 4px;
		font-family: $open-sans;
		color: #b7b7b7;
		font-size: 1.1em;
		font-weight: 700;
		text-align: left;
		text-transform: uppercase;
		padding: 5px 0px 0px;
		cursor: pointer;
		width: 13%;
		transition: $transition;
		&:hover {
			color: $green;
			border-color: $green;
		}
	}
	#era-all {
		margin-right: 15px;
	}
	button[data-era-width="2"] {
		width: 20%;
	}
	button[data-era-width="1"] {
		width: 40%;
	}
	.active {
		color: $green;
		border-color: $green;
	}
}

