#welcome {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: flex;
	flex-direction: row;
	@include screen-ltmd {
		display: initial;
	}
	article {
		background-color: lighten($green, 27%);
		background-image: url('../imgs/content/modal-background@2x.jpg');
		background-size: 100% auto;
		background-position: bottom;
		width: 67%;
		padding: 50px;
		@include screen-ltmd {
			width: 100%;
			padding: 50px 0px;
			
		}
		@include screen-sm {
			height: 100%;
		}
		@include screen-xs {
			height: auto;
		}
		img {
			width: 275px;
			@include screen-ltmd {
				display: block;
				margin: 0px auto 30px;
			}
		}
		p {
			font-size: 1em;
			width: 60%;
			line-height: 1.8;
			@include screen-ltmd {
				margin: 0 auto;
			}
			@include screen-xs {
				width: 80%;
			}
			&:last-of-type {
				margin-bottom: 30px;
			}
			> a {
				color: initial;
				text-decoration: none;
				border-bottom: 1px dotted black;
				transition: $transition;
				&:hover, &:active, &:focus, &:visited {
					color: lighten(#000000, 15%);
					text-decoration: none;
					border-bottom: 1px dotted lighten(#000000, 15%);
				}
			}
		}
	}
	aside {
		width: 33%;
		display: flex;
		flex-direction: column;
		background-color: #ffffff;
		@include screen-ltmd {
			display: none;
		}
		button {
			margin: 15px 15px 0px 15px;
			height: 25%;
			color: #ffffff;
			border: none;
			padding: 15px;
			transition: $transition;
			&:last-of-type {
				margin: 15px;
			}
			.flex-fix { // button elements can't be flex containers in Firefox (flexbug #9)
				display: flex;
		    	flex-direction: column;
		    	justify-content: flex-end;
		    	height: 100%;
		    	transition: $transition;
			}
			h4 {
				font-size: 1.2em;
				margin: 0px;
				text-align: left;
			}
			h2 {
				font-size: 2.2em;
				margin: 0px;
				width: 80%;
				text-align: left
			}
			&:nth-of-type(1) {
				background: linear-gradient(rgba(140,198,62, 0.55), rgba(140,198,62, 0.55)), url('../imgs/content/belmont_theater.PNG');
				background-size: 100% auto;
				background-position: center;
			}
			&:nth-of-type(2) {
				background: linear-gradient(rgba(89,74,65, 0.55), rgba(89,74,65, 0.55)), url('../imgs/content/kingontheave.jpg');
				background-size: 100% auto;
				background-position: center;

			}
			&:nth-of-type(3) {
				background: linear-gradient(rgba(217,27,91, 0.55), rgba(217,27,91, 0.55)), url('../imgs/content/Infrastructure image.jpg');
				background-size: 100% auto;
				background-position: center;
			}
			&:nth-of-type(4) {
				background: linear-gradient(rgba(251,175,63, 0.55), rgba(251,175,63, 0.55)), url('../imgs/content/hawthorne hall 1908.jpg');
				background-size: 100% auto;
				background-position: center;
			}
			svg {
				float: right;
				height: 36px;
				width: auto;
				path {
					fill: #ffffff;
				}
			}
			&:hover {
				background-size: 110% auto;
				cursor: pointer;
				transition: $transition;
			}
		}

	}
}

#explore-btn {
	margin-right: 10px;
}

#explore-btn, #tour-btn {
	@include big-button($medium-green, #ffffff);
	padding: 10px 30px;
	font-size: 15px;
	font-family: $open-sans;
	font-weight: 700;
	text-transform: uppercase;
	svg {
		position: relative;
		top: 1px;
		fill: $medium-green;
	}
	@include screen-ltmd {
		display: block;
		width: 60%;
		margin: 0 auto 20px;
	}
	@include screen-xs {
		width: 80%;
	}

}