
@mixin big-button($color_1, $color_2) {
	font-family: $open-sans;
	color: $color_1;
	border: 2px solid $color_2;
	background-color: $color_2;
	transition: $transition;
	&:link {
		background-color: $color_2;
		border-color: $color_2;
		color: $color_1;
	}
	&:hover {
		background-color: $color_1;
		border-color: $color_1;
		color: $color_2;
		fill: $color_2;
		text-decoration: none;
        box-shadow: 0 3px 8px rgba(0,0,0,0.35);
	}
	&:hover svg {
		fill: $color_2;
		//left: 5px;
	}
	&:active {
		background-color: $color_1;
		border-color: $color_1;
		color: $color_2;
		box-shadow: none;
	}
	&:active svg {
		fill: $color_2;
		//left: 5px;
	}
	&:focus, &:active:focus {
		background-color: $color_1;
		border-color: $color_1;
		color: $color_2;
		outline: 5px auto $color_1;
	}
	&:focus, &:active:focus svg {
		fill: $color_2;
		//left: 5px;
	}
	&:visited {
		background-color: $color_1;
		border-color: $color_2;
	}
}

@mixin arts-icon() {
	background-image: url('../imgs/icons/icon-arts.png');
}


@mixin arts-icon-grey() {
	background-image: url('../imgs/icons/icon-arts-inactive.png');
}



@mixin civilrights-icon() {
	background-image: url('../imgs/icons/icon-civilrights.png');
}

@mixin civilrights-icon-grey() {
	background-image: url('../imgs/icons/icon-civilrights-inactive.png');
}



@mixin development-icon() {
	background-image: url('../imgs/icons/icon-development.png');
}

@mixin development-icon-grey() {
	background-image: url('../imgs/icons/icon-development-inactive.png');
}


@mixin infrastructure-icon() {
	background-image: url('../imgs/icons/icon-infrastructure.png');

}

@mixin infrastructure-icon-grey() {
	background-image: url('../imgs/icons/icon-infrastructure-inactive.png');
}


// Media Queries

@mixin screen-xxs {
  @media (#{$screen-xxs}) {
    @content;
  }
}

@mixin screen-xs {
  @media (#{$screen-xs}) {
    @content;
  }
}

@mixin screen-sm {
  @media (#{$screen-sm}) {
    @content;
  }
}

@mixin screen-md {
  @media (#{$screen-md}) {
    @content;
  }
}

@mixin screen-lg {
  @media (#{$screen-lg}) {
    @content;
  }
}

@mixin screen-xl {
  @media (#{$screen-xl}) {
    @content;
  }
}

@mixin screen-ltmd  {
  @media (#{$screen-ltmd}) {
    @content;
  }
}

@mixin screen-ltlg  {
  @media (#{$screen-ltlg}) {
    @content;
  }
}

@mixin screen-ltxl  {
  @media (#{$screen-ltxl}) {
    @content;
  }
}

@mixin screen-gtxs  {
  @media (#{$screen-gtxs}) {
    @content;
  }
}

@mixin screen-gtsm  {
  @media (#{$screen-gtsm}) {
    @content;
  }
}

@mixin screen-gtmd  {
  @media (#{$screen-gtmd}) {
    @content;
  }
}

