@import 'https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i|Open+Sans:400,700';

p {
	font-family: $alegreya;
	font-size: 0.85em;
	a {
		color: $green;
		transition: $transition;
		&:hover, &:focus, &:active {
			color: lighten($green, 10%);
		}
	}
}

h1, h2 {
	font-family: $alegreya;
	font-weight: 300;
}

h4 {
	font-size: 0.80em;
}

h3, h4, h5, h6 {
	font-family: $open-sans;
	text-transform: uppercase;
}

hr {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

