
//Colors
$orange: #fbaf3f; //rgb(251,175,63) #fbaf3f
$blue: #1b75bb; //rgb(27,117,187)
$purple: #652c90; //(rgb(101,44,144))
$pink: #d91b5b; //rgb(217,27,91)
$brown: #594a41;  //rgb(89,74,65)
$green: #8cc63e; //rgb(140,198,62)
$light-green: lighten($green, 27%);
$medium-green: lighten($green, 10%);
$grey: #7b7b7b;
//Typography

$alegreya: 'Alegreya', Garamond, serif;
$open-sans: 'Open Sans', Helvetica, Arial,sans-serif;

//Transition
$transition: all 0.25s ease-in-out;

