
//Colors
$orange: #fbaf3f;
$blue: #1b75bb;
$purple: #652c90;
$pink: #d91b5b;
$brown: #594a41;
$green: #8cc63e;

//Typography

$alegreya: 'Alegreya', Garamond, serif;
$open-sans: 'Open Sans', Helvetica, Arial,sans-serif;

//Transition
$transition: all 0.25 ease-in-out;